<!DOCTYPE html>
<html>
<head>
    

    
    <link rel="stylesheet" href="./src/styles.css">
    
    </head>
    
    <body>
      <div id="app"></div>
      <ul id="t1">
        <li>
          <span class="caret">Beverages</span>
          <ul class="nested">
            <li>Water</li>
            <li>Coffee</li>
            <li>
              <span class="caret">Tea</span>
              <ul class="nested">
                <li>Black Tea</li>
                <li>White Tea</li>
                <li>
                  <span class="caret">Green Tea</span>
                  <ul class="nested">
                    <li>Sencha</li>
                    <li>Gyokuro</li>
                    <li>Matcha</li>
                    <li>Pi Lo Chun</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <script src="./src/index.js"></script>

    </body>
    </html>
    